@import "../../assets/css/variable.scss";
.input {
  position: relative;
  margin-bottom: 5px;
  input {
    color: $lilas;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid $blue;
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 0px 5px;
    margin-bottom: 10px;
    &:focus {
      color: $lilas;
    }
    &:focus-visible {
      color: $lilas;
      outline: 0px
    }

    &::placeholder {
      color: $blue;
    }
  }
  .error {
    position: absolute;
    top:33px;
    color:$red;
    font-size: 9px;
    line-height: 9px;
  }
}
