@import "./../form/variable";

.btn {
  color: white;
  background-color: $blue;
  min-width: 200px;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  text-align: center;
  border: 0;
  display: block;
}
