main {
  display: flex;
  font-size: 13px;
  font-family: Arial;
  .block {
    border: 1px solid #F18C8C;
    box-shadow: 10px 10px 1px #F8EA6F;
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    height: calc(100vh - 150px);
    max-width: 400px;
    margin-left: -200px;
    overflow: auto;
  }
  .block_chat {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 20px;
  }
}

