<link rel="stylesheet" href="/assets/css/block.scss" />
<link rel="stylesheet" href="/assets/css/common.scss" />
<main>
    <form class="{{class}}" action="{{action}}">
        {{> @partial-block }}
    </form>
</main>
