

.link {
  color: #5c56a1;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  text-align: center;
  border: 1px solid  #f18c8c;
  display: block;
  position: relative;

  div {
    position: absolute;
    top:-4px;
    left: -4px;
    border: 1px solid #f8ea6f;
    width: 100%;
    background-color: white;

    a {
      text-decoration: none;
      color: #b9a705;
    }
  }
}
