@import "../../assets/css/variable";
.link {
  color: $lilas;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  text-align: center;
  border: 1px solid  $red;
  display: block;
  position: relative;
  div {
    position: absolute;
    top:-4px;
    left: -4px;
    border: 1px solid $orange;
    width: 100%;
    background-color: white;
    a {
      text-decoration: none;
      color: #B9A705;
    }
  }
}
